<footer class = "footer">
<div class = "hireUs">

Hire Us : <a id = "hireUs" href = "https://www.linkedin.com/in/alex-thornton-co/" >Alex Thornton</a>
<a id = "hireUs" href = "https://www.linkedin.com/in/adamwolfman/">Adam Wolfman</a>
<a id = "hireUs" href = "https://www.linkedin.com/in/matthewpuettmann/">Matt Puettmann</a>
</div>
<br/>
<div class = "copyright">
<h3>Savr © 2019</h3> 
</div>

</footer>