.alex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;  
    margin-bottom: 60px;  
    text-align: center;
    /* margin: auto; */
    /* max-width: 600px; */
}

.alex .content {
    max-width: 600px;
    margin: auto;
    background-color: rgba(255,255,255,.7);
    padding: 100px;
    border-radius: 5px;
}

.alex h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #608568;
    font-size: 48px;
}

.alex h2:after {
        position: absolute;
        left: 0;
        top: 32%;
        height: 2px;
        background:black;
        content: "";
        width: 100%;
        display: block;
        position: relative;
}

.alex p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

.alex small {
    margin-bottom: 30px;
    color: #DDD5DC;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.alex .editButtons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.alex #editButton {
    margin: 10px;
    display: flex;
    border-style: none;
    background-color: #B28040;
    color: white;
    border-radius: 2px;
    text-align: center;
    float: left;

}
.alex #deleteButton {
    margin: 10px;
    display: flex;
    border-style: none;
    background-color: #B28040;
    border-radius: 2px;
    color: white;
    text-align: center;
    float: right;
}


body {
    background-color: #DDD5DC
}

body.login {
    background-image: url("https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-color: gray;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: cursive;
}

div.title h1 {
    border: 3px solid rgba(255, 255, 255, 0.116);
    border-radius: 50px;
    padding: 30px;
}

h1.login-heading {
    margin-top: 20px;
    font-size: 70px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;    
}

.auth-form-container {
    min-width: 400px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;


}

ul.nav {
    background-color: rgba(0, 0, 0, 0.6);
    
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.403);
}