* {
    font-family: 'Montserrat', sans-serif;
}

.btn:focus {
    outline: none !important;
}


.alex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;  
    margin-bottom: 30px;  
    text-align: center;
    /* margin: auto; */
    /* max-width: 600px; */
}

.alex .content {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255,255,255,.7);
    padding: 30px 100px 100px 100px;
    border-radius: 5px;
}

.alex h2 {
    
    color: #608568;
    font-size: 48px;
    margin-top: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.matt div.alex {
    margin-top: 50px;
}

.alex p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
    margin-top: 20px;
    white-space: pre-line;
    white-space: pre-wrap;
    text-align: left;
    
}

.alex small {
    margin-bottom: 30px;
    color: #DDD5DC;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.alex .editButtons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.alex #editButton {
    margin: 10px;
    display: flex;
    border-style: none;
    background-color: #B28040;
    color: white;
    border-radius: 2px;
    text-align: center;
    float: left;

}
.alex #deleteButton {
    margin: 10px;
    display: flex;
    border-style: none;
    background-color: #B28040;
    border-radius: 2px;
    color: white;
    text-align: center;
    float: right;
}

.alex img {
    width: 400px;
}

body {
    background-color: rgb(228, 219, 211);
}

body.login {
    background-image: url("https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-color: gray;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    
}

div.title h1 {
    border: 3px solid rgba(255, 255, 255, 0.116);
    border-radius: 50px;
    padding: 30px;
}

div.nav {
    background-color: #B6AFA8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-p {
    position: relative;
    top: 9px;
    color: #608568;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-right: 75px;
}

.nav-link.active {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    
}

.nav-img {
    height: 22px;
}

button.nav-link {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.login .nav {
    background-color: rgba(0, 0, 0, 0.5);
}

#dropdownMenuButton {
    height: 100%;
}

.btn.active {
    -webkit-box-shaddow: none;
    transition: none;
}

.btn-primary {
    background-color:  #B28040;
    border: none;
}

.btn:hover {
    background-color:  #608568;
    color: white;
}
.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn-secondary:hover {
    background-color:#608568;
    color: white;
}
.userList {
    margin-top: 50px;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

h1.login-heading {
    margin-top: 20px;
    font-size: 70px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;    
}

.auth-form-container {
    min-width: 400px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;


}

ul.nav {
    background-color: rgba(0, 0, 0, 0.6);
    
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.403);
}

.matt .card-body a {
    background-color: #B28040;
    border: none;
}

.card-body {
    min-height: 200px;
}

.matt h2 {
    margin-top: 25px;
    text-align: center;
    
}

.matt .mattidedit {
    text-align: center;
}

.matt .card {
    margin: 0 5px 10px 5px;
    
}

.matt .edit-flex {
    display: flex;
    justify-content: center;
}

.matt .edit-flex div {
    padding: 10px;
}

.matt .card-img-top {
    height: 40%;
}


.adam .recipeIndexFlex {
    width: 600px;
    margin: -25px;
    padding: 0px;
}

.adam .recipeIndexFlex:hover {
    color: #608568;
}

.adam .recipeIndexFlex a {
    padding: 5px;
    text-decoration: none;
}

.adam .media:hover {
    background-color: #608568;
}

.adam .recipeIndexFlex h5 {
    color: black;
    padding-top: 10px;
}

.adam .recipeIndexFlex p {
    color: black;
    
}

.adam .recipeIndexFlex img {
    width: 100px;
    height: 100px;
    border: 3px solid #B28040;
    border-radius: 50%;
}

.adam div.title h1 {
    border-color: #B28040;
}

.adam div.media {
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.flex-container .editForm {
    width: 60%;
    
}

.editForm button {
    margin: 10px;
    display: flex;
    border-style: none;
    background-color: #B28040;
    border-radius: 2px;
    color: white;
    text-align: center;
    margin-top: -20px;
}

.editInput {
    height: 300px;
    width: 100%; 
}

/* .form-group {
    white-space: pre-line;
    white-space: pre-wrap;
    text-align: left;
} */

.profileItems span {
    color: #608568;
    padding: 5px;
    font-weight: normal;

}

.profileItems h3 {
    color: gray;
    font-weight: bolder;
}

.profileItems {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    margin-top: -35px;
}

.ingredientArea {
    height: 100px;
}