<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Show Page</h1>
    <%=userOnTheTemplate.username%>
    <%userOnTheTemplate.recipes.forEach((recipes) => {%>
    <%= recipes.title %>
    <%})%>
        <%if(logged === true && userOnTheTemplate._id.toString() === sessionId.toString()){%>
            <a href = "/users/<%=userOnTheTemplate._id%>/edit">Edit User Info</a>
            <form action = "/users/<%=userOnTheTemplate._id%>?_method=DELETE" method = "POST">
            <button type = "submit">Delete User</button>
            </form>
        <%}%>
</body>
</html>

