<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%=recipeOnTheTemplate.title%>
    <%=user.username%>
    <% if(logged === true && userOnTheTemplate._id.toString() === sessionId.toString()){%>
        <form action="/recipes/<%=recipeOnTheTemplate._id%>/edit" method="GET">
            <button type="submit">Edit</button>
        </form>
        <form action="/recipes/<%=recipeOnTheTemplate._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    <%}%>
</body>
</html>